{% extends 'base/base.html.twig' %}
{% block title %}<i class="glyphicon glyphicon-alert"></i> CWE/SANS Top 25 Most Dangerous Software Errors{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <p>
                Test 89
            </p>
        </div>
    </div>
{% endblock %}