{% extends 'cwe/base.html.twig' %}
{% block solution %}
You have to escape the dynamic parameters by binding them through PDO.
{% endblock %}
{% block subcontent %}
<div class="alert alert-info">
    <ul>
        <li>
            Try to type username &quot;<strong>unknown</strong>&quot; and password &quot;<strong>name' OR 'a'='a</strong>&quot;.

            It will add an &quot;<strong>OR</strong>&quot; condition to the query, allowing get the first user even if it does not exist.
        </li>
        <li>
            If you type password as &quot;<strong>name'; DELETE FROM User; --</strong>&quot; it will remove all the users.
        </li>
    </ul>
</div>
{% if user %}
    <div class="alert alert-success">
        User found:

        <ul>
            <li>Name = {{ user.name }}</li>
            <li>Password = {{ user.password }}</li>
        </ul>
    </div>
{% endif %}
<form method="POST">
    <div class="row">
        <div class="col-md-6">
            <label>
                Username
            </label>
            <input type="text" name="username" value="unknown" class="form-control">
        </div>
        <div class="col-md-6">
            <label>
                Password
            </label>
            <input type="text" name="password" value="name' OR 'a'='a" class="form-control">
        </div>
        <div class="col-md-12 text-right">
            <br/>
            <input name="submit" type="submit" class="btn btn-danger" value="Unsafe submit"/>
            <input name="submit" type="submit" class="btn btn-success" value="Safe submit"/>
        </div>
    </div>
</form>
{% endblock %}